header {
    font-family: 'Jost-SemiBold', sans-serif;
    background-color: #034EA2;
    color: #FFFFFF;
    padding: 1.1rem;
    font-size: 1rem;
    font-weight: 600;
    height: 3.7rem;
    display: flex;
    align-items: center;
}

header svg {
    font-size: 2rem;
    margin-right: 1rem;
}

.back-icon {
    cursor: pointer;
}