header {
    font-family: 'Jost-SemiBold', sans-serif;
    background-color: #034EA2;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    height: 3.7rem;
    display: flex;
    align-items: center;
}

header .header-content {
    padding: 1.1rem;
    height: 100%;
    display: flex;
    align-items: center;
    width: 1024px;
    margin: auto;
}

header svg {
    font-size: 2rem;
    margin-right: 1rem;
}

.back-icon {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .header-content {
        width: 100%;
    }
}