.status {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.status-type {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.status-text {
    text-transform: capitalize;
    font-size: 0.75rem;
}