.search-input {
    position: relative;
}

input {
    border: 1px solid #DDDDDD;
    padding: 5px 5px 5px 30px;
    border-radius: 3px;
    height: 40px;
    width: 100%;
}

svg#search {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.close {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-40%);
    cursor: pointer;
}