.selected-option {
    width: 100%;
    height: 30px;
    background: transparent;
    border: 1px solid #dddddd;
    margin-bottom: 1rem;
    text-align: left;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-option-value {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

ul.dropdown-list {
    list-style: none;
    border: 1px solid #DDDDDD;
    padding: 1rem;
    margin-bottom: 1rem;
}

ul.dropdown-list li{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

ul.dropdown-list li:hover {
    background-color: #F7F7F7;
}

ul.dropdown-list li .status-type {
    margin-left: 0.5rem;
}