textarea {
    width: 100%;
    height: 150px;
    border-color: #DDDDDD;
    resize: none;
    margin: 15px 0;
    padding: 1rem;
}

input#todo-title {
    padding-left: 1rem;
}

.actions {
    display: flex;
    justify-content: space-between;
}