.status-container-header {
    background-color: #F3F6F9;
    border-radius: 3px;
    height: 2.25rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
    border: 0;
    cursor: pointer;
}

.list-size {
    font-weight: 600;
}

.accordion-title {
    text-transform: capitalize;
}