.todos-container {
    padding: 1rem;
    width: 1024px;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.todos-list {
    flex: 1;
    margin-bottom: 5rem;
}

.add-todo {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

}

.add-todo button {
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {
    .todos-container {
        width: 100%;
    }
}