.todos-container {
    padding: 1rem;
    /* max-width: 1024px;
    margin: auto; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

.todos-list {
    flex: 1;
}

.add-todo {
    text-align: right;
}

.add-todo button {
    font-size: 2rem;
}