@font-face {
    font-family: 'Jost-Regular';
    src: url('../assets/fonts/Jost-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
  font-family: 'Jost-SemiBold';
  src: url('../assets/fonts/Jost-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

:root {
  font-family: 'Jost-Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vH;
}

#root {
  height: 100%;
}