.todo-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 1px solid #DDDDDD;
}

.todo-item:hover {
    background-color: #F7F7F7;
    border-radius: 3px;
    border-bottom: 0;
}

.todo-item:hover .todo-actions {
    display: flex;
}



.todo-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.todo-title {
    font-family: 'Jost-SemiBold', sans-serif;
    flex: 1;
    font-size: 0.88rem;
    font-weight: 600;
    color: #034EA2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.todo-title.completed {
    text-decoration: line-through;
}

.todo-logo span {
    border: 1px solid #034EA2;
    color: #034EA2;
    padding: 1rem;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.todo-desc {
    margin-left: 50px;
    font-size: 0.75rem;
    overflow-wrap: break-word;
    padding-right: 4.5rem;
}

.todo-created {
    margin-left: 50px;
    font-size: 0.62rem;
    color: #767676;
}

.todo-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.todo-actions {
    display: none;
    gap: 0.5rem;
}

.todo-actions .todo-action-edit, .todo-actions .todo-action-delete {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.todo-actions .todo-action-edit svg{
    color: #034EA2;
}

.todo-actions .todo-action-delete svg{
    color: #E32A34;
}